.descriptions {
  margin-left: 0px;
}

ul {
  list-style: none;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.underline-zone {
  width: 25%;
  left: 1px;
  top: 55px;
  position: relative;
  border-bottom: 3px solid #333;
  transition: left 300ms ease-in, right 300ms;
}

.email-address {
  background-color: #ffa700;
  cursor: default;
  width: 180px;
  outline: none;
  border: none;
  height: 20px;
}

#info-click-target {
  cursor: pointer;
}

#edu-click-target {
  cursor: pointer;
}

#biz-click-target {
  cursor: pointer;
}

.container {
  background-color: #ffa700;  
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

.linked-in-logo {
  color: #333;
}

.job-experience__descriptions {

}

.nav__icon {
  width: 96px;
}

@media (max-width: 768px) {
  .nav__icon {
    width: 48px;
  }
}

.nav__icon--small {
  width: 48px;
}

.skills {
  font-family: Oswald;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

.skills h2 {
  font-family: Oswald !important;
}

section {
  font-family: Oswald;
  font-weight: 300;
}

section h2 {
  font-family: Bentham;
}

header {
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 4px;
}

nav {
  text-align: center;
  margin: 30px 0;
}

section {
  margin-bottom: 30px;
}

small {
  color: #333 !important;
}